header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
    background-color: #0098d9;
    color: #fff;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}