@import '../../../styles/variables';

header {
    height: $headerHeight;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    background-color: #0098d9;
    color: #fff;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

@media (max-width: $mediaQueryTabletModal) {
    header {
        h1 {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            line-height: 1;
        }
    }
}

@media (max-width: $mediaQueryMobile) {
    header {
        h1 {
            transform: translateX($headerHeight);
        }
    }
}
