@import '../../../../styles/animations';
@import '../../../../styles/variables';

.nav-common-actions {
    overflow: hidden;
    @include expanded--vertical-animation;
}

.action-as-link,
.dropdown-as-link {
    width: 50%;
    color: $inline-link-color;
    text-decoration: underline;
    font-size: 14px;
    text-align: center;
}

.dropdown-as-link {
    &__inline {
        cursor: pointer;
        display: inline;
        width: auto;
    }
}

.action-as-link {
    &__with-underline {
        position: relative;
        text-decoration: none;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            transform: translateY(3px);
            border-bottom: 1px solid $inline-link-color;
        }

        &:hover {
            &:before {
                display: none;
            }
        }

    }
}
