@import '../../../styles/animations';

.nav-common-actions {
    overflow: hidden;
    @include expanded--vertical-animation;
}

.action-as-link,
.dropdown-as-link {
    width: 50%;
    color: #0098d9;
    text-decoration: underline;
    font-size: 14px;
    text-align: center;
}
