.nav-sections {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.nav-section {
    width: 300px;
    min-height: 60px;

    position: relative;
    overflow: hidden;
    font-size: 12px;

    &:before {
        z-index: 1;
        position: absolute;
        width: 22px;
        height: 22px;
        top: 20px;
        left: 20px;
        content: '';
    }

    &__expanded {
        background-color: #172b4d;
    }

    &__empty {
        flex-grow: 1;
        min-height: 0;
    }

    &__status:before {
        background: url(../../../sprite.svg) -1121.1px -48px no-repeat;
    }
    &__internet:before {
        background: url(../../../sprite.svg) -9px -1068.69px no-repeat;
    }
    &__network:before {
        background: url(../../../sprite.svg) -743.6px -453px no-repeat;
    }
    &__rules:before {
        background: url(../../../sprite.svg) -1079.1px -202px no-repeat;
    }
    &__management:before {
        background: url(../../../sprite.svg) -1079.1px -984.88px no-repeat;
    }

    &__logout:before {
        background: url(../../../sprite.svg) -1079.1px -1024.88px no-repeat;
    }

    &__top-border {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__split {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-title {
        position: relative;
        color: #0098d9;
        text-transform: uppercase;
        padding-left: 60px;
        padding-top: 23px;
        padding-bottom: 20px;
        letter-spacing: 1.5px;
        font-size: 12px;
        font-weight: 700;

        &__active {
            background-color: #124169;
        }

        &:before {
            position: absolute;
            content: '';
            top: 28px;
            right: 20px;
            width: 10px;
            height: 10px;
            background: url(../../../sprite.svg) -898px -654.21px no-repeat;
        }

        &__white-simple {
            color: #fff;

            &:before {
                content: none;
            }
        }

        &:hover {
            background-color: #124169;
            transition: all 0.1665s linear 0.1665s;
        }

        &__collapsed:before {
            transform: rotate(-90deg);
        }
    }

    &-action {
        height: 32px;
        line-height: 32px;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: 240px;
        padding-left: 60px;

        &:hover {
            background-color: #124169;
            transition: all 0.1665s linear 0.1665s;
        }
    }

    &-actions {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
}
