@import '../../../styles/variables';

$collapsedWidth: 60px;
$expandedWidth: 300px;

nav {
    position: fixed;
    z-index: 1;
    top: $headerHeight;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: $collapsedWidth;
    background-color: #172b4d;
    overflow: hidden;

    &.expanded {
        animation: 0.3s linear forwards expand_navbar;
    }

    &.collapsed {
        animation: 0.3s linear forwards collapse_navbar;
    }
}

.nav-background {
    cursor: pointer;
    background-color: rgba(37, 36, 43, 0.7);
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
    width: $collapsedWidth;

    &__collapsed {
        animation: 0.3s linear forwards collapse_navbar;
    }

    &__expanded {
        width: 100%;
    }
}

.nav-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $expandedWidth;
    background-color: rgb(23, 43, 77);
    position: relative;
}

@keyframes collapse_navbar {
    from {
        width: $expandedWidth;
    }

    to {
        width: $collapsedWidth;
    }
}

@keyframes expand_navbar {
    from {
        width: $collapsedWidth;
    }

    to {
        width: $expandedWidth;
    }
}

@media (max-width: $mediaQueryMobile) {
    nav {
        transform: translateY(-100%);

        &.expanded {
            animation: none;
            transform: translateY(0);
            width: 100%;
            background: none;
        }

        &.collapsed {
            animation: none;
        }
    }

    .nav-background {
        top: 0;
    }
}
