@import './mixins';

.dirty-section {
    @include fixed-content;
    transform: translateX(-25px);
    border-top: 1px solid rgba(38, 107, 178, 0.2);
    padding-bottom: 15px;
    bottom: 0;

    &__visible {
        display: block;
    }

    &__hidden {
        display: none;
    }

    &.modal {
        position: relative;
        transform: none;
        padding-left: 0;
        padding-bottom: 0;
    }
}
