@import './variables';
@import './mixins';
@import './dirty-section';

.page-content {
    padding-left: 10px;

    &__with-scroll {
        .page-title {
            box-shadow: 0 6px 13px -3px rgba(49, 74, 156, 0.4);
            transition: all 0.3s linear;
        }
    }
}
.page-content-wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
}

.page-title {
    @include fixed-content;
    transform: translate(-25px, -15px);
    color: #172b4d;
    line-height: 42px;
    font-size: 36px;
    font-weight: 400;
    box-shadow: none;
}

.page-sub-title {
    color: #000;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0;
}

.page-text {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0 19px;
}

.page-section {
    @include with-group-offset;
}

@media (max-width: $mediaQueryMobile) {
    .page-title {
        line-height: 30px;
        font-size: 24px;
    }
}
