$mediaQueryTablet: 770px;
$mediaQueryTabletModal: 700px;
$mediaQueryTableDetails: 930px;

$mediaCancelCollapse: 640px;

$mediaQueryMobile: 480px;

$headerHeight: 60px;

$left-width: 170px;

$modal-value-width: 230px;

$inline-link-color: #0098d9;
