@import '../../styles/variables';
@import '../../components/dashboard/nvagation-bar/navigation-bar';

.content {
    display: flex;
    flex-direction: row;
    margin-top: $headerHeight;
    margin-left: $headerHeight;
    padding: 15px;

    &__expanded {
        animation: 0.3s linear forwards collapse_content;
    }

    &__collapsed {
        animation: 0.3s linear forwards expand_content;
    }
}

@keyframes expand_content {
    from {
        margin-left: $expandedWidth;
    }

    to {
        margin-left: $collapsedWidth;
    }
}

@keyframes collapse_content {
    from {
        margin-left: $collapsedWidth;
    }

    to {
        margin-left: $expandedWidth;
    }
}

@media (max-width: $mediaCancelCollapse) {
    .content {
        &__expanded,
        &__collapsed {
            animation: none;
        }
    }
}

@media (max-width: $mediaQueryMobile) {
    .content {
        margin-left: 0;

        &__expanded,
        &__collapsed {
            animation: none;
        }
    }
}
