@import '../../styles/variables';
@import '../../styles/mixins';

$close-button-size: 30px;

.close-message-button {
    background-color: #42403e;
    color: #f8f6ec;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    transform: translate(6px, -5px);
    line-height: 0;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 30px;
    height: 30px;
    line-height: 0;
    font-size: 20px;
    padding: 0;
    margin: 0;
    overflow: visible;
    background-color: transparent;

    &:before {
        @include pseudo-absolute-styles($close-button-size, 45deg);
    }

    &:after {
        @include pseudo-absolute-styles($close-button-size, -45deg);
    }
}

.show-more-button,
.confirmation-button {
    min-width: 200px;
}

.modal-action-button {
    width: 170px;

    &__inactive {
        opacity: 0.4;
        cursor: default;
    }

    &.success:not(.wps) {
        position: relative;

        &:after {
            content: ' \2714';
            color: #1e9e40;
        }
    }
}

.acitons-wps {
    .modal-action-button {
        width: 100%;
    }
}

.show-more-button,
.modal-action-button,
.confirmation-button {
    margin: 0;
    padding: 0 15px;
    height: 40px;
    border: 1px solid #0098d9;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;

    &__save {
        border: none;
        background-color: #0098d9;
        color: #fff;
        margin-right: 15px;

        &:hover {
            background-color: #124169;
            transition: all 0.2s ease-out 0s;
        }

        &:disabled {
            cursor: auto;
            opacity: 0.4;

            &:hover {
                transition: none;
                background-color: #0098d9;
            }
        }
    }

    &__cancel {
        color: #0098d9;
        border: 1px solid #eeeff1;
        background-color: #fff;

        &:hover {
            border: 1px solid #0098d9;
            transition: all 0.2s ease-out 0s;
        }
    }
}

.show-more-button,
.modal-action-button {
    background-color: #fff;
    color: #0098d9;
}

.show-more-button,
.modal-action-button__active {
    &:hover {
        background-color: #124169;
        color: #fff;
        transition: all 0.2s ease-in 0s;
    }
}

.hint-button {
    color: #0098d9;
    position: absolute;
    top: 19px;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 10px;

    &__left {
        left: 0;
    }

    &__right {
        right: 0;
    }

    &:hover {
        color: #124169;
    }
}

.details-button {
    @include link-button;
    padding-bottom: 5px;
    border-bottom: 1px dashed #0098d9;
}

.navbar-footer {
    &_trigger-action {
        position: relative;
        height: 60px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 60px;
        background-color: transparent;
        color: #fff;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        letter-spacing: 1.5px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        text-align: left;

        &:before {
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            width: 20px;
            height: 20px;
            background: url(../../sprite.svg) -1121.1px -382px no-repeat;
        }
    }
}

.detail-pair-value-button {
    @include link-button;
}

@media (max-width: $mediaQueryTabletModal) {
    .modal-action-button {
        width: 100%;
        margin-bottom: 5px;
    }
}
