.close-message-button {
    background-color: #42403e;
    color: #f8f6ec;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    transform: translate(6px, -5px);
    line-height: 0;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: #a9afbb;
    width: 25px;
    height: 25px;
    line-height: 0;
    font-size: 20px;
}

.show-more-button {
    min-width: 200px;
}

.modal-action-button {
    width: 170px;

    &__inactive {
        opacity: 0.4;
        cursor: default;
    }

    &.success:not(.wps) {
        position: relative;

        &:after {
            content: ' \2714';
            color: #1e9e40;
        }
    }
}

.acitons-wps {
    .modal-action-button {
        width: 100%;
    }
}

.show-more-button,
.modal-action-button {
    height: 40px;
    background-color: #fff;
    border: 1px solid #0098d9;
    border-radius: 2px;
    margin: 0;
    box-sizing: border-box;
    padding: 0 15px;
    color: #0098d9;
    font-size: 14px;
}

.show-more-button,
.modal-action-button__active {
    &:hover {
        background-color: #124169;
        color: #fff;
        transition: all 0.2s ease-in 0s;
    }
}

.hint-button {
    color: #0098d9;
    position: absolute;
    top: 15px;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 10px;

    &__left {
        left: 0;
    }

    &__right {
        right: 0;
    }

    &:hover {
        color: #124169;
    }
}
