@mixin setDynamicAnimationDuration($duration) {
    animation: #{$duration + 's'} linear forwards reduce_timer_width;
}

.timer {
    .duration {
        font-size: 24px;
        font-weight: normal;
        color: #0098d9;
    }

    .progress-bar {
        height: 10px;
        border: 1px solid #d7dbe4;
        border-radius: 4px;
        overflow: hidden;

        &_rest {
            height: 100%;
            width: 100%;
            background-color: #0098d9;

            &--120 {
                @include setDynamicAnimationDuration(120);
            }
        }
    }
}

@keyframes reduce_timer_width {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-100%);
    }
}
