@import '../../../styles/variables';

.details-info {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid #d7dbe4;
}

.detail-pair {
    display: flex;
    padding-bottom: 12px;
    flex-wrap: wrap;

    &:last-of-type {
        padding-bottom: 0;
    }

    &-label {
        min-width: 170px;
    }

    &-value {
        flex-grow: 1;
        min-width: 200px;

        &-message {
            color: #1e9e40;
        }

        &-link {
            color: #0098d9;
            text-decoration: none;
        }
    }
}

@media (max-width: $mediaQueryTablet) {
    .detail-pair {
        flex-direction: column;
    }

    .detail-pair-value {
        padding-bottom: 15px;
        border-bottom: 1px solid #0098d9;
    }
}
