.details-info {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid #d7dbe4;
}

.detail-pair {
    display: flex;
    padding-bottom: 12px;

    &:last-of-type {
        padding-bottom: 0;
    }

    &-label {
        min-width: 170px;
    }
}
