.provider {
    position: relative;
    padding-bottom: 20px;

    &-label {
        font-size: 18px;
        font-weight: 400;
    }

    &-info {
        color: #62687f;
    }

    &-connection-duration {
        position: absolute;
        top: 0;
        right: 0;
        color: #1e9e40;
    }
}
