.traffics {
    display: flex;
    flex-wrap: wrap;
}

.traffic {
    flex-grow: 1;
    width: 50%;
    min-width: 300px;
    padding-bottom: 20px;

    &-info_actual {
        padding-bottom: 5px;
    }

    &-info_max-speed {
        color: #62687f;
        font-size: 12px;
    }

    &-graph {
        height: 90px;
        margin-right: 5px;
    }
}
