.traffic-graph {
    position: relative;
    opacity: 0.4;

    .line {
        &__upload {
            stroke: #e84855;
            fill: #fad9dc;
        }

        &__download {
            stroke: #124169;
            fill: #0098d9;
        }
    }
}

.h-oriented-borders {
    .tick {
        stroke-opacity: 0.1;
        stroke-dasharray: 1;
    }
}
