@import '../../styles/variables';

.setting-pair,
.modal-pair {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }

    &__aligned {
        align-items: center;
    }

    .page-text,
    .modal-pair__label {
        min-width: $left-width;
        padding: 10px 0;
        font-size: 14px;
        text-align: left;

        &__error-inline {
            position: absolute;
            top: 35px;
            left: $left-width;
            color: #e84855;
            font-size: 14px;
        }
    }
}
